* {
  box-sizing: border-box;
  font-family: Baskerville;
}
body {
    background-color: #DAEBFF;
}

.nowrap {
  white-space: nowrap;
}

#content {
  position: relative;
  /*margin: 0 auto;*/
  padding: 15px;
  width: 600px;
  background-color: white;
}

p {
  width: 100%;
}

aside {
  display: block;
  position: absolute;
  width: 30%;
  left: 100%;
  font-size: 14px;
  font-weight: 100;
  line-height: 15px;
  padding-left: 5px;
  border-left: dotted thin #000;
}

span.slider{
  display: inline-block;
  width: 30px;
}

/* PLAYGROUNDS */
#playground-simplest-ann {
  position: relative;
}

#simplest-ann-slider-x {
  position: absolute;
  top: 150px;
  left: 25px;
}

#simplest-ann-slider-wx {
  position: absolute;
  top: 73px;
  left: 163px;
  width: 62px;
}

#simplest-ann-slider-b {
  position: absolute;
  top: 330px;
  left: 25px;
}

#simplest-ann-slider-wb {
  position: absolute;
  top: 208px;
  left: 163px;
  width: 62px;
}

#simplest-ann-input-layer {
  position: absolute;
  top: 10px;
  left: 50px;
  font-weight: 900;
}

#simplest-ann-output-layer {
  position: absolute;
  top: 10px;
  left: 290px;
  font-weight: 900;
}

#playground-simplest-ann-sigmoid {
  position: relative;
}

#simplest-ann-sigmoid-slider-x {
  position: absolute;
  top: 150px;
  left: 25px;
}

#simplest-ann-sigmoid-slider-wx {
  position: absolute;
  top: 73px;
  left: 163px;
  width: 62px;
}

#simplest-ann-sigmoid-slider-b {
  position: absolute;
  top: 330px;
  left: 25px;
}

#simplest-ann-sigmoid-slider-wb {
  position: absolute;
  top: 208px;
  left: 163px;
  width: 62px;
}

#simplest-ann-sigmoid-input-layer {
  position: absolute;
  top: 10px;
  left: 50px;
  font-weight: 900;
}

#simplest-ann-sigmoid-output-layer {
  position: absolute;
  top: 10px;
  left: 290px;
  font-weight: 900;
}